body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    padding: 50px;
}

.leftMenu{
    flex: 1;
}

.search{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    width: 200px;
}

.content{
    flex: 4;
}

h1{
    font-size: 2rem;
    color: #555;

}

.colors{
    display: flex;
    flex-direction: column;
   gap: 20px;
   cursor: pointer;
   color: #555;
}

.color{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}



.products{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}
.product{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.name{
    font-weight: 300;
    color: #555;
}